<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.freeup.dino.runner"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="13"
		android:targetSdkVersion="21" />

	<supports-screens
		android:largeScreens="true"
		android:normalScreens="true"
		android:requiresSmallestWidthDp="480"
		android:largestWidthLimitDp="480"
		android:resizeable="true"
		android:smallScreens="true"
		android:xlargeScreens="true" />
	
	<compatible-screens>
		<screen android:screenSize= "large"
				android:screenDensity= "480" />
	</compatible-screens>

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/GdxTheme" >
		<activity
			android:name="com.freeup.dino.runner.AndroidLauncher"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
			android:screenOrientation="portrait"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>